@page
@model project.Views.Error.IndexModel




<link rel="stylesheet" href="~/css/datatables.min.css">

<section class="hero-wrap hero-wrap-2 bg-image" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Error 404</h1>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row d-flex justify-content-center no-gutters">
            <div class="col-md-8 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
                <div class="py-md-5 text-center">

                    <div class="row">

                       

                        <div class="col-lg-12 heading-section ftco-animate mb-5">
                            <h1>Oh No, There seems to be an error</h1>
                            <img src="/images/chefPic.jpg" />
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</section>



